<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>餐饮美食</title>
    <script src="../js/jquery-3.1.0.min.js"></script>
    <script src="../js/swiper-3.4.0.jquery.min.js"></script>
    <link rel="stylesheet" href="../css/swiper.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/index.js"></script>
</head>
<body class="food entertain">
<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide content">
            <header>
                <a href="../index.html" class="return"></a>
                <h1>餐饮美食</h1>
                <button type="button" class="menu-button"></button>
            </header>
            <section class="main">
                <ul>
                    <li>
                        <img src="../images/food0.png" alt="">
                        <p>
                            这里的中餐火爆，西餐丰盛，日餐唯美。中餐主打热辣湘菜，品类多、讲实惠，品味上乘，烹调考究。这里环境优雅，伴随美妙的音乐，全面提升老饕们的用餐享受。
                        </p>
                    </li>
                    <li>
                        <h2>湘苑食府</h2>
                        <a href="foodOrder.html?name=xiangyuan">
                            <img src="../images/food1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <h2>四季厅</h2>
                        <a href="foodOrder.html?name=siji">
                            <img src="../images/food2.png" alt="">
                        </a>
                    </li>
                    <li>
                        <h2>会议自助</h2>
                        <a href="foodOrder.html?name=huiyi">
                            <img src="../images/food0.png" alt="">
                        </a>
                    </li>
                    <li>
                        <h2>冷餐</h2>
                        <a href="foodOrder.html?name=lengcan">
                            <img src="../images/food1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <h2>茶歇</h2>
                        <a href="foodOrder.html?name=chaxie">
                            <img src="../images/food2.png" alt="">
                        </a>
                    </li>
                    <li>
                        <h2>大堂吧</h2>
                        <a href="foodOrder.html?name=datang">
                            <img src="../images/food0.png" alt="">
                        </a>
                    </li>
                </ul>
            </section>
        </div>
        <ul class="swiper-slide menu">
        </ul>
    </div>
</div>
</body>
</html>
<script>
    document.documentElement.style.fontSize=document.documentElement.clientWidth/7.5+'px';
</script>