<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>客房预订</title>
    <script src="../js/jquery-3.1.0.min.js"></script>
    <script src="../js/swiper-3.4.0.jquery.min.js"></script>
    <link rel="stylesheet" href="../css/swiper.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/index.js"></script>
</head>
<body class="guestRoomOrder">
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide content">
            <header>
                <a href="guestDeluxRoom.html?name=hxtaofang" class="return"></a>
                <h1>客房预订</h1>
                <button type="button" class="menu-button"></button>
            </header>
            <section class="main">
                <!-- Swiper -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../images/guestRoom1.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/guestRoom2.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="../images/guestRoom3.png">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <h2>豪华套房</h2>
                <ul class="part part1">
                    <li>
                        房间数量
                        <div class="roomnum">
                            <i class="add"><img src="../images/btn-add.png"></i>
                            <span>1</span>
                            <i class="minus"><img src="../images/btn-minus.png"></i>
                        </div>
                    </li>
                    <li class="inroomDate">入住时间： 2016年10月26日</li>
                    <li class="outroomDate">退房时间： 2016年10月27日</li>
                    <li>
                        备注：<input type="text" placeholder="如有附加需求，请填写">
                    </li>
                </ul>
                <ul class="part part2">
                    <li>
                        联系人：<input type="text" placeholder="请输入姓名">
                        <label><input type="radio" name="sex">女士</label>
                        <label><input type="radio" name="sex" checked>先生</label>
                    </li>
                    <li>
                        手机号：<input type="text" placeholder="请输入手机号">
                    </li>
                </ul>
                <div class="tabCtrl">
                    <div class="tabTitle">
                        <span class="active">入住须知</span>
                        <span>客房介绍</span>
                    </div>
                    <div class="tabTxt">
                        <p>
                            - 在未提供公司或信用卡担保的情况下，酒店最多保留预订至到
                            店当天下午6点（视酒店当日情况而定）<br>
                            - 在担保情况下更改或取消预订请于到店当天下午6点前通知酒
                            店，酒店将有权对其未能及时取消或未抵房间收取第一晚房费<br>
                            - 如改变行程提前离店请提前24小时告知前台，酒店将有权对其
                            未能及时通知取消收取一晚房费<br>
                            - 对于延迟退房，酒店将按规定收取费用。 下午6点前退房，需
                            支付所付房价的50%，6点以后退房，需支付全天房价<br>
                            - 酒店入住时间为下午2点，离店时间为中午12点
                        </p>
                        <p>
                            房间面积38平方米，<br>
                            健全的浴室实施，配备热带雨林式花洒<br>
                            高速无线网络，46英寸 LCD平板电视 <br>
                            配备闹钟，提供非吸烟楼层
                        </p>
                    </div>
                </div>
            </section>
            <footer>
                <div>总金额：<span>899￥</span></div>
                <a href="javascript:;">立即支付</a>
            </footer>
        </div>
        <ul class="swiper-slide menu">
        </ul>
    </div>
</div>

</body>
</html>
<script>
//    房间数量、总金额
    var roomNum=1;
    $('.roomnum .add').on('click',function(){
        roomNum++;
        $('.roomnum>span').html(roomNum);
        $('footer span').html(899*roomNum+'￥');
    });
    $('.roomnum .minus').on('click',function(){
        if(roomNum>1){roomNum--}else{roomNum=1}
        $('.roomnum>span').html(roomNum);
        $('footer span').html(899*roomNum+'￥');
    });
//    订房时间
    var mydate=new Date();
    $('.inroomDate').html('入住时间：'+mydate.getFullYear()+'年'+(mydate.getMonth()+1)+'月'+mydate.getDate()+'日');
    $('.outroomDate').html('退房时间：'+mydate.getFullYear()+'年'+(mydate.getMonth()+1)+'月'+(mydate.getDate()+1)+'日');
//    选项卡切换
    $('.tabTitle span').each(function(){
        $(this).on('click',function(){
            var index=$(this).index();
            $(this).addClass('active').siblings().removeClass('active');
            console.log(index);
            $('.tabTxt p').eq(index).show().siblings().hide();
        })
    });
//    地址传参
    $.ajax({
        type:"get",
        url:"../json/guestDeluxRoom.json",
        async:true,
        success:function(data){
            rDate=data[id];
            var swiperTxt='';
            $(rDate.imgsrc).each(function(i,ele){
                swiperTxt+='<div class="swiper-slide">'+'<img src='+ele+'>'+'</div>';
            });
            $('section .swiper-wrapper').html(swiperTxt);
            $('section>h2').html(rDate.title);
        }
    });
//    返回地址
    $('header .return').attr('href','guestDeluxRoom.html?name='+id);
</script>