<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>舒适客房</title>
    <script src="../js/jquery-3.1.0.min.js"></script>
    <script src="../js/swiper-3.4.0.jquery.min.js"></script>
    <link rel="stylesheet" href="../css/swiper.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/index.js"></script>
</head>
<body class="guestRoom entertain">
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide content">
            <header>
                <a href="../index.html" class="return"></a>
                <h1>舒适客房</h1>
                <button type="button" class="menu-button"></button>
            </header>
            <section class="main">
                <ul>
                    <li>
                        <img src="../images/guestRoom0.png" alt="">
                        <p>客房设施齐全、舒适，
                            房间色调柔和，充满东方古典韵味。设有步入式衣帽间，休息区与工作区。提供全方位的至尊享受</p>
                    </li>
                    <li>
                        <h2>豪华套房</h2>
                        <a href="guestDeluxRoom.html?name=hxtaofang">
                            <img src="../images/guestRoom1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <h2>行政套房</h2>
                        <a href="guestDeluxRoom.html?name=xztaofang">
                            <img src="../images/guestRoom2.png" alt="">
                        </a>
                    </li>
                    <li>
                        <h2>豪华大床房</h2>
                        <a href="guestDeluxRoom.html?name=hxdachuang">
                            <img src="../images/guestRoom3.png" alt="">
                        </a>
                    </li>
                    <li>
                        <h2>精品特色房</h2>
                        <a href="guestDeluxRoom.html?name=jptese">
                            <img src="../images/guestRoom4.png" alt="">
                        </a>
                    </li>
                    <li>
                        <h2>普通大床房</h2>
                        <a href="guestDeluxRoom.html?name=ptdachuang">
                            <img src="../images/guestRoom5.png" alt="">
                        </a>
                    </li>
                    <li>
                        <h2>标准双人间</h2>
                        <a href="guestDeluxRoom.html?name=bzshuangren">
                            <img src="../images/guestRoom6.png" alt="">
                        </a>
                    </li>
                </ul>
            </section>
        </div>
        <ul class="swiper-slide menu">
        </ul>
    </div>
</div>
</body>
</html>
<script>
    document.documentElement.style.fontSize=document.documentElement.clientWidth/7.5+'px';
</script>