<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>多功能会议厅</title>
    <script src="../js/jquery-3.1.0.min.js"></script>
    <script src="../js/swiper-3.4.0.jquery.min.js"></script>
    <script src="../js/swiper.js"></script>
    <link rel="stylesheet" href="../css/swiper.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/index.js"></script>
</head>
<body class="meetingReport">
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide content">
            <header>
                <a href="meeting.html" class="return"></a>
                <h1>多功能会议厅</h1>
                <button type="button" class="menu-button"></button>
            </header>
            <section class="main">
                <!-- Swiper -->
                <div class="swiper-container2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="txt">
                                <h3>报告厅</h3>
                                <p>面积：1100㎡<br>高5m*长40m*宽25m</p>
                                <p>专业的会议技术支持。<br>专属会议管家。现代化的会议设备及活动设施。</p>
                            </div>
                            <img src="../images/meeting-repot1.jpg">
                        </div>
                        <div class="swiper-slide">
                            <div class="txt">
                                <h3>第一会议室</h3>
                                <p>面积：156㎡<br>高5m*长16m*宽9.8m</p>
                                <p>中型会议室，可举办百人规模的会议。 桌型可根据需求摆放。 会议用声光电数码设施齐备。</p>
                            </div>
                            <img src="../images/meeting-repot10_03.jpg">
                        </div>
                        <div class="swiper-slide">
                            <div class="txt">
                                <h3>第二会议室</h3>
                                <p>面积：250㎡<br>高4.8m*长17m*宽14.7m</p>
                                <p>中型会议室，可举办200人以下规模的会议。 桌型可根据需求摆放。 会议用声光电数码设施齐备。</p>
                            </div>
                            <img src="../images/meeting-repot9_03.jpg">
                        </div>
                        <div class="swiper-slide">
                            <div class="txt">
                                <h3>第三会议室</h3>
                                <p>面积：158㎡<br>高4.8m*长17m*宽9.3m</p>
                                <p>中型会议室，可举办百人规模的会议。桌型可根据需求摆放。会议用声光电数码设施齐备。</p>
                            </div>
                            <img src="../images/meeting-repot8.jpg">
                        </div>
                        <div class="swiper-slide">
                            <div class="txt">
                                <h3>第四会议室</h3>
                                <p>面积：78㎡<br>高4.8m*长8.4m*宽9.3m</p>
                                <p>小型会议室，可举办50人以下规模的会议。 桌型可根据需求摆放。 会议用声光电数码设施齐备。</p>
                            </div>
                            <img src="../images/meeting-repot11_03.jpg">
                        </div>
                        <div class="swiper-slide">
                            <div class="txt">
                                <h3>第五会议室</h3>
                                <p>面积：78㎡<br>高4.8m*长8m*宽9.3m</p>
                                <p>小型会议室，可举办50人以下规模的会议。 桌型可根据需求摆放。 会议用声光电数码设施齐备。 </p>
                            </div>
                            <img src="../images/meeting-repot7_03.jpg">
                        </div>
                        <div class="swiper-slide">
                            <div class="txt">
                                <h3>第六会议室</h3>
                                <p>面积：80㎡<br>高3.2m*长9.4m*宽8.6m</p>
                                <p>小型会议室，可举办50人以下规模的会议。 桌型可根据需求摆放。 会议用声光电数码设施齐备。 </p>
                            </div>
                            <img src="../images/meeting-repot6_03.jpg">
                        </div>
                        <div class="swiper-slide">
                            <div class="txt">
                                <h3>第七会议室</h3>
                                <p>面积：89㎡<br>高3.2m*长10.16m*宽8.82m</p>
                                <p>小型会议室，可举办50人以下规模的会议。 桌型可根据需求摆放。 会议用声光电数码设施齐备。 </p>
                            </div>
                            <img src="../images/meeting-repot5_03.jpg">
                        </div>
                        <div class="swiper-slide">
                            <div class="txt">
                                <h3>第八会议室</h3>
                                <p>面积：86㎡<br>高2.9m*长10m*宽8.62m</p>
                                <p>小型会议室，可举办50人以下规模的会议。 桌型可根据需求摆放。 会议用声光电数码设施齐备。 </p>
                            </div>
                            <img src="../images/meeting-repot4_03.jpg">
                        </div>
                        <div class="swiper-slide">
                            <div class="txt">
                                <h3>多功能厅</h3>
                                <p>面积：100㎡<br>高3.2m*长14.5m*宽6.9m</p>
                                <p>中型会议厅。 可按各类会议需要布置陈设。 可举办150人左右规模的会议。 会议用声光电数码设施齐备。 专业人员调试。 </p>
                            </div>
                            <img src="../images/meeting-repot3_03.jpg">
                        </div>
                        <div class="swiper-slide">
                            <div class="txt">
                                <h3>贵宾接待室</h3>
                                <p>面积：36㎡<br>高4.8m*长4m*宽9m</p>
                                <p>仅供接待重要宾客休憩使用。 按照客户要求放置沙发和茶几。 可提供管家式服务。 </p>
                            </div>
                            <img src="../images/meeting-repot2.png">
                        </div>
                        <div class="swiper-slide">
                            <div class="txt">
                                <h3>宴会厅</h3>
                                <p>面积：1100㎡<br>高8m*长40m*宽25m</p>
                                <p>最多可容纳六百人用餐。可举办婚宴、招待宴、聚会、酒会等类型。 厅堂可根据需求隔断。各具风格。 </p>
                            </div>
                            <img src="../images/meeting-repot12_03.jpg">
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <ul class="swiper-slide menu">
        </ul>
    </div>
</div>
</body>
</html>
<script>
    var swiper2 = new Swiper('.swiper-container2', {
         initialSlide :id,
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflow: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows : true
        }
    });
</script>