<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>会议会展</title>
    <script src="../js/jquery-3.1.0.min.js"></script>
    <script src="../js/swiper-3.4.0.jquery.min.js"></script>
    <link rel="stylesheet" href="../css/swiper.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/index.js"></script>
</head>
<body class="meeting entertain">
    <div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide content">
            <header>
                <a href="../index.html" class="return"></a>
                <h1>会议会展</h1>
                <button type="button" class="menu-button"></button>
            </header>
            <section class="main">
                <ul>
                    <li>
                        <img src="../images/meeting0.png" alt="">
                        <p>会议室面积超过6000平方米，配套背景板、舞台、投影仪、幕布、桌签等服务一应俱全，可容纳20~1000人大、中、小会议室14个
                            VIP贵宾接待室</p>
                    </li>
                    <li>
                        <h2>报告厅</h2>
                        <a href="meetingReport.html?name=0">
                            <img src="../images/meeting1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <h2>宴会厅</h2>
                        <a href="meetingReport.html?name=12">
                            <img src="../images/meeting2.png" alt="">
                        </a>
                    </li>
                    <li>
                        <h2>会议室</h2>
                        <a href="meetingReport.html?name=1">
                            <img src="../images/meeting3.png" alt="">
                        </a>
                    </li>
                </ul>
            </section>
        </div>
        <ul class="swiper-slide menu">
        </ul>
    </div>
</div>
</body>
</html>
<script>
    document.documentElement.style.fontSize=document.documentElement.clientWidth/7.5+'px';
</script>